@charset "UTF-8";

body {
    margin: 0px;
    font-family: 'Fira Sans', Arial, sans-serif;
    color: #141414;
}

h1, h2, h3, p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.subtitulo {
    font-size: 9rem;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
}

.subtitulo-formacao {
    font-size: 9rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 3ch;
}
@media (max-width: 800px) {
    .subtitulo {
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial;
    }
}